---
import Image from '~/components/common/Image.astro';
import logo from '~/assets/images/logo.jpg';
---

<a href="/">
  <Image
    src={logo}
    alt="Unmasking the Reality of Lung Cancer"
    width={100}
    height={100}
  />
</a>
